<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teorías</title>

    <link rel="stylesheet" href="../../assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <header>
            <div class="logo">
                <h1>Proyecto</h1>
            </div>
            <form action="">
                <input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
            </form>
            <div class="categorias" id="categorias">
                <a href="../../index.html" class="item-activo">Inicio</a>
                <a href="teoria.html">Teoría</a>
                <a href="contactanos.html">Contactanos</a>
            </div>
        </header>

        <section class="grid" id="grid">
            <div class="item" data-categoria="" data-etiquetas=" LINEAL Lineal lineal">
                <div class="item-contenido">
                    <img src="assets/img/animal1.png" onclick="window.open('src/view/method/lineal.html');" alt="">
                </div>
            </div>
            <div class="item" data-etiquetas="Logaritmica logaritmica LOGARITMICA">
                <div class="item-contenido">
                    <img src="assets/img/animal2.png" alt="">
                </div>
            </div>
            <div class="item" data-etiquetas="Polinomica polinomica polinómica">
                <div class="item-contenido">
                    <img src="assets/img/animal2.png" alt="">
                </div>
            </div>
            <div class="item" data-etiquetas="Potencial potencial">
                <div class="item-contenido">
                    <img src="assets/img/animal2.png" alt="">
                </div>
            </div>
            <div class="item" data-etiquetas="Exponecial exponecial">
                <div class="item-contenido">
                    <img src="assets/img/animal2.png" alt="">
                </div>
            </div>
            <div class="item" data-etiquetas="Media media Movil Móvil movil móvil">
                <div class="item-contenido">
                    <img src="assets/img/animal2.png" alt="">
                </div>
            </div>
        </section>
    </div>
</body>
</html>