*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3fef3;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.content{
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header{
    padding: 40px 0;
}
 
header .logo{
    text-align: center;
    margin-bottom: 40px;
}

header form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .barra-busqueda{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categorias a{
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .categorias a.item-activo{
    color: #000000;
}

/* -------------------------------------------- */
/* GRID */
/* -------------------------------------------- */


.grid.imagenes-cargadas{
    opacity: 1;
}

.grid{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.3% - 20px);
    transition: width .5s, height .5s;
}

.grid .item:hover{
    width: calc(32% - 20px);
}

.grid .item-contendio{
    position: relative;
}

.grid .item img{
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}

/* -------------------------------------------- */
/* AJUSTES */
/* -------------------------------------------- */

.wrapper{
    display: grid;
    grid-template-columns: 30% 68%;
    column-gap: 2%;
}

/* -------------------------------------------- */
/* SECCIÓN VALORES (X,Y) */
/* -------------------------------------------- */

#viewR{
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.valores{
    align-self: start;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.valores h3{
    margin: 10px;
}

.grafico{
    align-self: start;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.grafico h3{
    margin: 10px;
}

.value-item{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

.x_and_y{
    display: flex;
    justify-content: center;
}

.x_and_y input{
    width: 90%;
    height: 30px;
    border: 1px solid #000000;
    padding: 0 10px;
    margin-bottom: 10px;
}

/* -------------------------------------------- */
/* SECCIÓN VALORES (X,Y) >> BOTONES (X,Y) */
/* -------------------------------------------- */

.botones{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.botones input[type="button"]{
    width: 47%;
    height: 30px;
    color: #fff;
    border: none;
    background: #000000;
}

.botones input[type="button"]:hover{
    border: 2px solid #000000;
    background: none;
    color: #000000;
}

/* -------------------------------------------- */
/* SECCIÓN GRAFICA (X,Y) */
/* -------------------------------------------- */

.grafico{
    align-self: start;
    border: 1px solid #000000;
}


/*aside{
    margin: 40px;
    width: 20%;
    border: 1px solid blue;
}*/

/* -------------------------------------------- */
/* ACERCA DE */
/* -------------------------------------------- */
footer .redes-sociales{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a{
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}